
<head>
         <link rel="stylesheet" href="~/css/home.css">
</head>


          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text" style="margin-top: 80px;">
                  <h6>All Book You Need There</h6>
            
                  <div class="main-button">
                     <a asp-controller="home" asp-action="index"
               class="btn btn-home">Welcome To Our Websit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->